form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 50vh;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    margin: 20px auto;
}

h2 {
    font-family: 'Black Ops One', sans-serif;
    color: #00897b;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

form label {
    color: #00897b; 
    margin-bottom: 8px;
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.3em;
    text-align: left;
}

form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    font-size: 1em;
    background-color: #f9f9f9;
}

form input:focus {
    border-color: #33a397;
    outline: none;
}

.btn {
    padding: 12px;
    background-color: #00897b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    font-family: 'Black Ops One', sans-serif;
    margin-top: 20px;
    width: 100%;
}

.btn:hover {
    background-color: #00695c;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
}

.toggle-btn {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 1rem;
    padding-bottom: 12px;
    padding-right: 5px;
}

.toggle-btn:focus {
    outline: none;
}

.toggle-btn:hover {
    color: #333;
}

p {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

#errorRegistro{
    text-align: center;
}

img{
    align-self: center;
}

form input.ng-invalid.ng-touched {
    border-color: red;
}

form input.ng-valid.ng-touched {
    border-color: green;
    border-width: 1.5px;
    outline: none;
}

.mensaje-exito {
    text-align: center;
    color: green;
    font-weight: bold;
}