<main>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <h2>Editar contraseña</h2>
        <label>Contraseña actual</label>
        <div class="password-wrapper">
            <input [type]="passwordActualVisible ? 'text' : 'password'" formControlName="actualPassword">
            <button class="toggle-btn" type="button" (click)="togglePasswordActualVisibility()">
                <i [class]="passwordActualVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
        </div>
        <p *ngIf="passwordForm.get('actualPassword')?.hasError('required') && passwordForm.get('actualPassword')?.touched">El campo 'Contraseña actual' es obligatorio.</p>

        <label for="password">Nueva contraseña</label>
        <div class="password-wrapper">
            <input [type]="passwordNuevaVisible ? 'text' : 'password'" formControlName="newPassword">
            <button class="toggle-btn" type="button" (click)="togglePasswordNuevaVisibility()">
                <i [class]="passwordNuevaVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
        </div>
        <p *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">El campo 'Nueva contraseña' es obligatorio.</p>
        <p *ngIf="passwordForm.get('newPassword')?.hasError('passwordStrength') && passwordForm.get('newPassword')?.touched">
            La contraseña nueva debe tener entre 8 y 12 caracteres, incluir al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.
        </p>
    
        <label for="repetirPassword">Repetir contraseña</label>
        <div class="password-wrapper">
            <input [type]="passwordNuevaRepVisible ? 'text' : 'password'" formControlName="repetirPassword">
            <button class="toggle-btn" type="button" (click)="togglePasswordNuevaRepVisibility()">
                <i [class]="passwordNuevaRepVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
        </div>
        <p *ngIf="passwordForm.hasError('noCoinciden') && passwordForm.get('repetirPassword')?.touched">Las contraseñas no coinciden.</p>

        <button class="btn" type="submit">Confirmar</button>
        <button class="btn" [routerLink]="['/verUsuario']">Volver al menu</button>
        <div class="error">
            <br><p *ngIf="errorBotonRegistro === 'Se ha actualizado la contraseña correctamente'" class="mensaje-exito">
                {{ errorBotonRegistro }}
              </p>
              <p *ngIf="errorBotonRegistro !== 'Se ha actualizado la contraseña correctamente'">
                {{ errorBotonRegistro }}
              </p>
        </div>
    </form>
</main>
