<main id="texto">
    <div class="contenedor">
        <h1 id="titulo">¡Bienvenidos a SetPoint!</h1>

        <h3>¿Qué es el Pádel?</h3>
        <p>El pádel es un deporte de raqueta que se juega en parejas en una pista cerrada con paredes que forman parte del juego. Similar al tenis, el objetivo es ganar puntos haciendo que el equipo contrario no logre devolver la pelota dentro del área de juego. Este deporte destaca por ser dinámico y por las paredes que permiten múltiples rebotes, lo que lo hace aún más entretenido y desafiante.</p>

        <h3>¿Cómo se Puntúa en el Pádel?</h3>
        <p>En el pádel, el sistema de puntuación es similar al del tenis. Cada juego se compone de puntos contados como 15, 30, 40 y las modalidades de "ventaja" o "punto de oro" en caso de empate a 40-40. Un equipo debe ganar seis juegos (games) para ganar un set, y en caso de empate a 6 juegos, se juega un "tiebreak" a 7 puntos. Los partidos suelen jugarse al mejor de tres sets.</p>

        <h3>Funcionamiento del Marcador</h3>
        <p>Nuestro marcador de pádel está diseñado para seguir cada punto en tiempo real. Permite visualizar quién está sirviendo, el puntaje de cada equipo en los juegos y sets, y la situación actual del partido (incluyendo el tiebreak y el supertiebreak). También incorpora la posibilidad de jugar con "ventaja" o con "punto de oro" para los momentos de empate a 40-40. Además, se generan 2 pines para poder compartir o editar el marcador.</p>

        <h3>¿Cómo Usar el Marcador?</h3>
        <p>Para comenzar a usar el marcador, ingresa los nombres de los jugadores, el club donde se juega el partido y selecciona las distintas características del partido (si es con ventaja o punto de oro, si el tercer set es super-tiebreak y si el set es largo (5-5 va a 7 juegos) o corto (5-5 va a tiebreak)). Al apretar el botón comienza el juego. La interfaz se utiliza para poder sumar los puntos que hace cada pareja, e irá alternando el saque automáticamente.</p>

        <h3>Historial de partidos</h3>
        <p>El historial de partidos permite a los usuarios revisar juegos pasados. Puedes buscar partidos por fecha, nombre de las parejas, o por club. Al final de cada partido, se ofrece la opción de guardar el marcador del partido en el historial.</p>
        <br>
    </div>
</main>
