<main id="texto">
    <div class="titulo">
        <h1 id="titulo">¡Bienvenidos a SetPoint!</h1>
    </div>
    
    <div class="cuerpo">
        <h3>Sobre Nosotros</h3>
        <p>Somos Nicolás Ferreira, Juan Diego Jacques y Lucas Rodríguez, estudiantes de Desarrollador de Software en la Universidad Católica del Uruguay, sede Salto. Nos apasiona crear soluciones prácticas, y este proyecto refleja nuestro deseo de aplicar lo aprendido para mejorar la experiencia de los espectadores en el pádel. </p>

        <h3>Sobre el Proyecto</h3>
        <p>Desarrollamos un marcador digital de pádel accesible vía web, permitiendo a los usuarios seguir el resultado en tiempo real. El marcador mostrará los nombres de los jugadores, quién está sacando, los puntajes de sets y games, y funcionalidades como el punto de oro y super tie-break. Nuestra meta es ofrecer una herramienta práctica para clubes y torneos, con potencial de expansión futura para gestionar usuarios y mejorar su usabilidad.</p>
    </div>
</main>
