<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Hecha por:</h4>
        <ul>
          <li>Nicolás Ferreira</li>
          <li>Juan Diego Jacques</li>
          <li>Lucas Rodríguez</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Email: juandiej&#64;hotmail.com</p>
        <p>Teléfono: +598 91 511 380</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 SetPoint. Todos los derechos reservados.</p>
    </div>
</footer>
